{% extends 'base.html' %}

{% block title %}Delete Account{% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'users/css/styles.css' %}">
<div class="delete-account-container">
    <h2>Delete Your Account</h2>
    <p class="warning">
        Warning: Deleting your account will permanently remove all your badges and Habit Gems earned so far.
    </p>
    <form method="post">
        {% csrf_token %}
        <div class="form-actions">
            <button type="submit" class="btn-delete">Delete My Account</button>
            <a href="{% url 'habits:dashboard' %}" class="btn-cancel">Cancel</a> <!-- [habits:dashboard]-->
        </div>
    </form>
</div>
{% endblock %}